/* src/styles/GamePopup.css */
.game-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative; /* Importante para posicionar absolutamente el botón cerrar */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.popup-content .close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 5px 10px;
  font-size: 16px;
  background: #ff6347; /* Rojo tomate para el botón cerrar */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content .close-button:hover {
  background: #e53e30; /* Un rojo más oscuro para hover */
}
