/* src/styles/GameCard.css */
.game-card {
  width: calc(25% - 20px); /* Ajusta para 4 tarjetas por fila considerando el gap */
  margin: 10px; /* Espacio alrededor para visualización limpia */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  background: #333232;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-card img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
  height: 180px; /* Altura fija para la imagen */
  object-fit: cover;
}

.game-card h3 {
  font-size: 18px;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center; /* Centra el texto horizontalmente */
}

@media (max-width: 768px) {
  .game-card {
    width: calc(50% - 20px); /* Ajusta para 2 tarjetas por fila en tabletas */
  }

  .game-card h3 {
    font-size: 16px; /* Ajusta el tamaño del texto en móvil */
  }
}

@media (max-width: 480px) {
  .game-card {
    width: calc(100% - 20px); /* Ajusta para 1 tarjeta por fila en móviles */
  }

  .game-card h3 {
    font-size: 14px; /* Ajusta el tamaño del texto en pantallas más pequeñas */
  }
}
