/* src/styles/Navbar.css */
.navbar {
  background: linear-gradient(135deg, rgba(72, 61, 139, 0.8), rgba(0, 0, 255, 0.8));
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.navbar-logo {
  height: 75px;
}

.search-form {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.search-input {
  padding: 8px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2); /* Color translúcido */
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
  flex-grow: 1;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3); /* Más claro al enfocar */
}

.search-button {
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.3); /* Color translúcido */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Más claro al pasar el cursor */
  transform: scale(1.05); /* Un poco más grande al pasar el cursor */
}

.navbar-buttons {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se envuelvan en pantallas pequeñas */
  justify-content: center;
  width: 100%; /* Asegura que los botones ocupen el ancho completo en pantallas pequeñas */
}

.navbar-buttons button {
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px; /* Espaciado entre botones */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05); /* Un poco más grande al pasar el cursor */
}

@media (min-width: 769px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-logo {
    margin-bottom: 0;
  }

  .search-form {
    flex: 0 1 auto;
    margin-left: auto; /* Empuja el formulario de búsqueda a la derecha */
  }

  .search-input {
    width: auto;
    padding: 8px 12px; /* Tamaño intermedio del input en escritorio */
    font-size: 16px; /* Tamaño de la fuente del input */
  }

  .search-button {
    width: auto;
    padding: 8px 12px; /* Tamaño intermedio del botón en escritorio */
    font-size: 16px; /* Tamaño de la fuente del botón */
  }

  .navbar-buttons {
    justify-content: flex-start;
    width: auto;
  }

  .navbar-buttons button {
    margin-left: 10px;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-logo {
    margin-bottom: 15px;
  }

  .search-form {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; /* Permite que el formulario se ajuste en una línea */
  }

  .search-input {
    width: 70%;
    margin-bottom: 10px;
  }

  .search-button {
    width: 25%;
    margin-top: 10px;
  }

  .navbar-buttons {
    justify-content: center;
    width: 100%;
  }

  .navbar-buttons button {
    width: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .navbar-logo {
    height: 60px;
  }

  .search-form {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .search-input {
    width: 70%;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .search-button {
    width: 25%;
    margin-bottom: 0;
  }

  .navbar-buttons {
    flex-direction: column;
    width: 100%;
  }

  .navbar-buttons button {
    width: 100%;
    margin: 5px 0;
  }
}
